body{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.page1{
    background:aqua;
    padding: 50px;
     border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-radius: 8px;
    height: 370px;
    width: 90%;
    max-width: 300px;
    margin-top: 60px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
 
label{
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 100%;
    padding:10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
}
button{
    padding: 10px;
    background-color:blue;
    color: black;
     justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 20px auto;
}
button:hover{
    background-color: cadetblue;
}
p{
    text-align:center;
    margin-top:10px;
    
}
.a{
    
    color: aquamarine;
    
}